   <div class="jumbotron" ng-cloak>
      <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
            <h1> ang </h1>
                <h2> </h2>
            </div>
        </div>
        
      </div>
    </div>
    <div class="container">
        <div ng-controller="angController as iso"> 
            <div class="col-md-4" ang-directive fw="iso.rogue20"></div>
            <div class="col-md-4" ang-directive fw="iso.rogue21"></div>
            <div class="col-md-4" ang-directive fw="iso.rogue22"></div>
        </div>    


    </div>
    <div style="height: 200px"></div>