<div class="col-md-3">
<div class="box02">
	<h2>-</h2>
<h2>form list</h2>

<!-- <input type="text" ng-model="avengers"> -->
<!-- <h3>1 {{reed.alias}}</h3> -->
<!-- <h3>2 {{sue.alias}}</h3>
<h3>3 {{johnny.alias}}</h3>
<h3>3 {{ben.alias}}</h3> -->

<h3>1 {{key}}</h3>

<input type="text" name="" ng-model="key2"/>
{{key2}}

<div class="clearfix"></div>
	<button class="btn btn-primary" ng-click="change({message:ok3})" ng-model="ok3">change power</button>

	<button class="btn btn-primary" ng-click="change({message:newalias})" ng-model="newalias">change alias</button>
</div>
</div>
